<a href="https://colab.research.google.com/github/DhanaLakshmi2000/DhanaLakshmi2000/blob/master/Exploratory_data_analysis_of_car_features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [101]:
import pandas as pd
import matplotlib.pyplot as plt

In [102]:
#dataframe contains the information which is in csv format
dataframe=pd.read_csv("cardata.csv.zip")

In [105]:
dataframe

          Make       Model  Year  ... city mpg  Popularity   MSRP
0          BMW  1 Series M  2011  ...       19        3916  46135
1          BMW    1 Series  2011  ...       19        3916  40650
2          BMW    1 Series  2011  ...       20        3916  36350
3          BMW    1 Series  2011  ...       18        3916  29450
4          BMW    1 Series  2011  ...       18        3916  34500
...        ...         ...   ...  ...      ...         ...    ...
11909    Acura         ZDX  2012  ...       16         204  46120
11910    Acura         ZDX  2012  ...       16         204  56670
11911    Acura         ZDX  2012  ...       16         204  50620
11912    Acura         ZDX  2013  ...       16         204  50920
11913  Lincoln      Zephyr  2006  ...       17          61  28995

[11914 rows x 16 columns]

In [104]:
#finding the datatypes of each column
dataframe.dtypes

Make                  object
Model                 object
Year                   int64
Engine Fuel Type      object
Engine HP            float64
Engine Cylinders     float64
Transmission Type     object
Driven_Wheels         object
Number of Doors      float64
Market Category       object
Vehicle Size          object
Vehicle Style         object
highway MPG            int64
city mpg               int64
Popularity             int64
MSRP                   int64
dtype: object

In [36]:
#finding the number of rows and columns of a dataframe in a tuple format
dataframe.shape

(11914, 16)

In [106]:
#finding the information about each of the column regarding null values and its types
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [107]:
#finding the number of null values in the specified csv file
dataframe.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [108]:
#finding the statistical summary for the above csv file
dataframe.describe()

               Year    Engine HP  ...    Popularity          MSRP
count  11914.000000  11845.00000  ...  11914.000000  1.191400e+04
mean    2010.384338    249.38607  ...   1554.911197  4.059474e+04
std        7.579740    109.19187  ...   1441.855347  6.010910e+04
min     1990.000000     55.00000  ...      2.000000  2.000000e+03
25%     2007.000000    170.00000  ...    549.000000  2.100000e+04
50%     2015.000000    227.00000  ...   1385.000000  2.999500e+04
75%     2016.000000    300.00000  ...   2009.000000  4.223125e+04
max     2017.000000   1001.00000  ...   5657.000000  2.065902e+06

[8 rows x 8 columns]

In [110]:
#checking for any null values
dataframe.drop(dataframe[dataframe['MSRP']==0].index,inplace=True)

In [111]:
#dropping the columns which are of less relevance 
dataframe.drop(['Market Category'],axis=1,inplace=True)
#as it has more NaN values i think it is less relevance

In [112]:
dataframe.shape

(11914, 15)

In [113]:
#renaming the column names
dataframe.rename(columns={"Engine HP": "HP","Engine Cylinders": "Cylinders","Transmission Type":"Transmission","Driven_wheels":"Driven mode","highway MPG":"MPG-H","city mpg":"MPG-C","MSRP":"price"},inplace = True)
dataframe

          Make       Model  Year  ... MPG-C  Popularity  price
0          BMW  1 Series M  2011  ...    19        3916  46135
1          BMW    1 Series  2011  ...    19        3916  40650
2          BMW    1 Series  2011  ...    20        3916  36350
3          BMW    1 Series  2011  ...    18        3916  29450
4          BMW    1 Series  2011  ...    18        3916  34500
...        ...         ...   ...  ...   ...         ...    ...
11909    Acura         ZDX  2012  ...    16         204  46120
11910    Acura         ZDX  2012  ...    16         204  56670
11911    Acura         ZDX  2012  ...    16         204  50620
11912    Acura         ZDX  2013  ...    16         204  50920
11913  Lincoln      Zephyr  2006  ...    17          61  28995

[11914 rows x 15 columns]

In [114]:
#finding the duplicates in the given file
duplicateDFROW = dataframe[dataframe.duplicated(keep='last')]
duplicateDFROW

         Make     Model  Year  ... MPG-C  Popularity  price
11        BMW  1 Series  2013  ...    19        3916  31500
17       Audi       100  1992  ...    17        3105   2000
18       Audi       100  1992  ...    17        3105   2000
22       Audi       100  1993  ...    17        3105   2000
24       Audi       100  1993  ...    17        3105   2000
...       ...       ...   ...  ...   ...         ...    ...
11480  Suzuki      X-90  1998  ...    22         481   2000
11600   Volvo      XC60  2017  ...    23         870  40950
11601   Volvo      XC60  2017  ...    20         870  46350
11707  Suzuki       XL7  2008  ...    15         481  29149
11709  Suzuki       XL7  2008  ...    16         481  27499

[720 rows x 15 columns]

In [115]:
#removing duplicates from the .csv file
dataframe.drop_duplicates(subset=None,keep='first',inplace=True)

In [116]:
dataframe.shape

(11194, 15)

In [117]:
#checking whether the duplicates are available in the file or not
duplicateDFROW = dataframe[dataframe.duplicated(keep='last')]
duplicateDFROW

Empty DataFrame
Columns: [Make, Model, Year, Engine Fuel Type, HP, Cylinders, Transmission, Driven_Wheels, Number of Doors, Vehicle Size, Vehicle Style, MPG-H, MPG-C, Popularity, price]
Index: []

In [92]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [119]:
#filling the NaN values for the specified indices with "ffill" 
dataframe['Engine Fuel Type'].fillna(value='ffill',inplace=True)
dataframe['HP'].fillna(value='ffill',inplace=True)
dataframe['Cylinders'].fillna(value='ffill',inplace=True)
dataframe['Number of Doors'].fillna(value='ffill',inplace=True)

In [120]:
#checking whether the null are available or not
dataframe.isnull().sum()

Make                0
Model               0
Year                0
Engine Fuel Type    0
HP                  0
Cylinders           0
Transmission        0
Driven_Wheels       0
Number of Doors     0
Vehicle Size        0
Vehicle Style       0
MPG-H               0
MPG-C               0
Popularity          0
price               0
dtype: int64